#title {
  color: aliceblue;
  font-family: monospace;
  font-size: larger;
  list-style-type: none;
  text-align: center;
}

#webgl-about-list {
  color: aliceblue;
  font-family: monospace;
  font-size: larger;
  list-style-type: none;
  text-align: center;
}

