#title {
  font-family: monospace;
  letter-spacing: 25%;
  text-underline-offset: 5px;
  text-decoration: underline 2px;
  font-size: 30px;
  list-style-type: none;
  text-align: left;
  padding: 2%;
}

#webgl-about-list {
  font-family: monospace;
  font-size: larger;
  list-style-type: none;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol {
  color: #08060d;
}