#title {
  color: aliceblue;
  font-family: monospace;
  font-size: 25px;
  list-style-type: none;
  text-align: left;
  padding: 2%;
}

#webgl-about-list {
  color: aliceblue;
  font-family: monospace;
  font-size: larger;
  list-style-type: none;
  text-align: center;
}

.header {
  
}